#login {
  background-color: #0070a6;
}
#login .content > .container {
    min-height: 100vh;
}

#login-form {
    padding: 30px 20px;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,.1);
    max-width: 400px;
    background-color: #fff;
    border-radius: .25rem;
}

#login-form input {
    width: 100%;
    padding: 5px 15px;
}
